<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite" thread-count="1" parallel="methods">
    <test name="MyTest">
        <classes>
            <class name="Tests.FunctionalTesting" />
        </classes>
    </test>
    <parameter name="environment" value="LIVE"/>
    <test name="Search" verbose="2" preserve-order="true" enabled="true">
        <classes>
            <class name="Tests.FunctionalTesting"></class>
        </classes>
    </test>


</suite>