<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SmokeTesting" thread-count="1" parallel="methods">
    <test name="Test" thread-count="5">
        <classes>
            <class name="REPORT.Hook1" />
            <class name="REPORT.Hook2" />

        </classes>
    </test>



</suite>