<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite" verbose="1">
    <listeners>
        <listener class-name="Tests.ScreenshotListener" />
    </listeners>
    <test name="MyTest">
        <classes>
            <class name="Tests.FunctionalTesting" />
        </classes>
    </test>
</suite>